{% extends "templates/pages/de-website-base.html" %}

{% block body_class %}home{% endblock %}

{% block content %}

<section class="hero">
    <div class="hero-content"><h1 class="hero-title">Firma <strong>SLife</strong></h1>
        <div class="hero-text">
            <p>Wir sind ein Unternehmen, das das Leben verbessert, indem es zwei der wichtigsten Trends unserer Zeit
                kombiniert: Langlebigkeit und Robotik. Unsere Mission ist es, Ihnen mithilfe fortschrittlicher
                Technologien zu einem längeren, gesünderen und angenehmeren Leben zu verhelfen.</p>
        </div>
        <div class="hero-buttons">
            <a class="btn" href="/de-contact">Dienstleistungen bestellen</a>
        </div>
    </div>
    <div class="social-links">
        <a href="https://www.facebook.com/SLifeComany/"><img src="files/icon-facebook.svg" alt="Facebook"></a>
        <a href="https://www.linkedin.com/company/llc-slife/"><img src="files/icon-linkedin.svg" alt="LinkedIn"></a>
        <a href="https://www.instagram.com/slife_company/"><img src="files/icon-instagram.svg" alt="Instagram"></a>
    </div>
</section>

<div class="content-switcher">
    <div class="content-switch">
        <button data-target="erpnext-content" class="active">ErpNext</button>
        <button data-target="ai-content">AI</button>
        <button data-target="vr-content">VR</button>
    </div>


    <div id="erpnext-content" class="content-section active">
        <div class="content">
            <img src="/files/Content_3.jpg" alt="Content" class="description-image">
            <div class="description">
                <p>ERPNext ist ein Open-Source-ERP-System (Enterprise Resource Planning), mit dem sich verschiedene
                    Geschäftsprozesse wie Buchhaltung, Bestandsverwaltung, Verkauf, Einkauf, Fertigung und mehr
                    automatisieren lassen. Es ist für kleine und mittlere Unternehmen konzipiert und kann an die
                    spezifischen Anforderungen der Benutzer angepasst werden.</p>
            </div>
        </div>
    </div>

    <div id="ai-content" class="content-section">
        <div class="content">
            <img src="/files/Content_1.jpg" alt="Content" class="description-image">
            <div class="description">
                <p>ERPNext ist ein Open-Source-ERP-System (Enterprise Resource Planning), mit dem sich verschiedene
                    Geschäftsprozesse wie Buchhaltung, Bestandsverwaltung, Verkauf, Einkauf, Fertigung und mehr
                    automatisieren lassen. Es ist für kleine und mittlere Unternehmen konzipiert und kann an die
                    spezifischen Anforderungen der Benutzer angepasst werden.</p>
            </div>
        </div>
    </div>

    <div id="vr-content" class="content-section">
        <div class="content">
            <img src="/files/Content_2.jpg" alt="Content" class="description-image">
            <div class="description">
                <p>Wir bieten umfassende 3D-Lösungen für Branchen wie Architektur und Spieledesign:
                    VR/AR-Entwicklung:
                    Immersive Erlebnisse für Spiele, Bildung und Visualisierung; Raumvisualisierung:
                    Fotorealistische
                    3D-Vorschauen für fundierte Designentscheidungen; Animation: Dynamische 3D-Animationen für
                    verschiedene Projekte; Charakter-Rigging/Skinning: Realistische Charakterbewegungen für Spiele
                    und
                    Animationen; Photogrammetrie: Präzise 3D-Modelle aus realen Objekten. 3D-Luftmodellierung:
                    Präzise
                    Modelle mithilfe von Luftfotografie und LiDAR.</p>
            </div>
        </div>
    </div>
</div>

<section class="directions">
    <h2 class="heading underline">
        <strong>UNSERE</strong> ANFAHRT
    </h2>
    <div class="description">
        <p>Wir entwickeln innovative Lösungen, die Ihre Einstellung zu einem gesunden und aktiven Leben verändern.
            Unsere Produkte vereinen Fortschritte in der Robotik und Medizin, um Ihnen einzigartige Möglichkeiten
            zur
            Erhaltung und Verbesserung Ihrer Gesundheit zu bieten.</p>
    </div>
    <div class="container">
        <div class="block">
            <h3 class="heading">
                ROBO<strong>TICS</strong>
            </h3>
            <div class="content">
                <p>Robotics ist nicht nur die Zukunft, sondern die Gegenwart. Wir entwickeln fortschrittliche
                    Robotersysteme, die Ihr Leben bequemer und sicherer machen. Unsere Roboterlösungen decken ein
                    breites Aufgabenspektrum ab, von alltäglichen Hausarbeiten bis hin zur Gewährleistung der
                    Sicherheit
                    und Verbesserung der Lebensqualität.</p>
            </div>
        </div>
        <div class="block">
            <h3 class="heading">
                LONGE<strong>VITY</strong>
            </h3>
            <div class="content">
                <p>
                    Wir glauben, dass jeder Mensch ein langes und erfülltes Leben verdient. Unsere
                    Langlebigkeitsentwicklungen sollen Ihnen helfen, viele Jahre lang gesund, aktiv und unabhängig
                    zu
                    bleiben.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}