{% extends "templates/pages/website-base.html" %}

{% block body_class %}home{% endblock %}

{% block content %}

<section class="hero">
    <div class="hero-content"><h1 class="hero-title">Company <strong>SLife</strong></h1>
        <div class="hero-text">
            <p>We are a company that makes life better by combining two of the most important trends of our time:
                longevity and robotics. Our mission is to help you live longer, healthier, and more conveniently
                with
                the help of advanced technologies.</p>
        </div>
        <div class="hero-buttons">
            <a class="btn" href="./contact.html">Book a service</a>
        </div>
    </div>
    <div class="social-links">
        <a href="https://www.facebook.com/SLifeComany/"><img src="files/icon-facebook.svg" alt="Facebook"></a>
        <a href="https://www.linkedin.com/company/llc-slife/"><img src="files/icon-linkedin.svg" alt="LinkedIn"></a>
        <a href="https://www.instagram.com/slife_company/"><img src="files/icon-instagram.svg" alt="Instagram"></a>
    </div>
</section>

<div class="content-switcher">
    <div class="content-switch">
        <button data-target="erpnext-content" class="active">ErpNext</button>
        <button data-target="ai-content">AI</button>
        <button data-target="vr-content">VR</button>
    </div>


    <div id="erpnext-content" class="content-section active">
        <div class="content">
            <img src="/files/Content_3.jpg" alt="Content" class="description-image">
            <div class="description">
                <p>ERPNext is an open-source ERP (Enterprise Resource Planning) system that helps automate various
                    business processes such as accounting, inventory management, sales, purchasing, manufacturing,
                    and
                    more. It is designed for small and medium-sized enterprises and can be customized to meet
                    specific
                    user needs.</p>
            </div>
        </div>
    </div>

    <div id="ai-content" class="content-section">
        <div class="content">
            <img src="/files/Content_1.jpg" alt="Content" class="description-image">
            <div class="description">
                <p>ERPNext is an open-source ERP (Enterprise Resource Planning) system that helps automate various
                    business processes such as accounting, inventory management, sales, purchasing, manufacturing,
                    and
                    more. It is designed for small and medium-sized enterprises and can be customized to meet
                    specific
                    user needs.</p>
            </div>
        </div>
    </div>

    <div id="vr-content" class="content-section">
        <div class="content">
            <img src="/files/Content_2.jpg" alt="Content" class="description-image">
            <div class="description">
                <p>ERPNext is an open-source ERP (Enterprise Resource Planning) system that helps automate various
                    business processes such as accounting, inventory management, sales, purchasing, manufacturing,
                    and
                    more. It is designed for small and medium-sized enterprises and can be customized to meet
                    specific
                    user needs.</p>
            </div>
        </div>
    </div>
</div>

<section class="directions">
    <h2 class="heading underline">
        <strong>OUR</strong> DIRECTIONS
    </h2>
    <div class="description">
        <p>We create innovative solutions that transform the way you think about healthy and active longevity. Our
            products combine advances in robotics and medicine to provide you with unique ways to maintain and
            improve
            your health.</p>
    </div>
    <div class="container">
        <div class="block">
            <h3 class="heading">
                ROBO<strong>TICS</strong>
            </h3>
            <div class="content">
                <p>Robotics is not just the future, it's the present. We create advanced robotic systems that make
                    your
                    life more convenient and safer. Our robotics solutions cover a wide range of tasks, from
                    everyday
                    household chores to ensuring safety and improving quality of life.</p>
            </div>
        </div>
        <div class="block">
            <h3 class="heading">
                LONGE<strong>VITY</strong>
            </h3>
            <div class="content">
                <p>We believe that everyone deserves to live a long and fulfilling life. Our longevity developments
                    are
                    designed to help you stay healthy, active and independent for many years to come.</p>
            </div>
        </div>
    </div>
</section>

<section class="directions">
    <h2 class="heading underline">
        <strong>OUR</strong> DIRECTIONS
    </h2>
    <div class="description">
        <p>We create innovative solutions that transform the way you think about healthy and active longevity. Our
            products combine advances in robotics and medicine to provide you with unique ways to maintain and
            improve
            your health.</p>
    </div>
    <div class="container">
        <div class="block">
            <h3 class="heading">
                ROBO<strong>TICS</strong>
            </h3>
            <div class="content">
                <p>Robotics is not just the future, it's the present. We create advanced robotic systems that make
                    your
                    life more convenient and safer. Our robotics solutions cover a wide range of tasks, from
                    everyday
                    household chores to ensuring safety and improving quality of life.</p>
            </div>
        </div>
        <div class="block">
            <h3 class="heading">
                LONGE<strong>VITY</strong>
            </h3>
            <div class="content">
                <p>We believe that everyone deserves to live a long and fulfilling life. Our longevity developments
                    are
                    designed to help you stay healthy, active and independent for many years to come.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}