
{% extends "templates/pages/website-base.html" %}

{% block body_class %}about-us{% endblock %}

{% block content %}

    <section class="hero news">
        <div class="hero-content news">
            <h1>NEWS <span>BLOG</span></h1>
            <p>In our blog, we share insights, news, and tips on IT solutions, longevity, and robotics. Stay updated on
                the
                latest trends and discover new opportunities with Slife!</p>
        </div>
    </section>

    <section class="cards-container">
        {% for post in blog_posts %}
        <div class="card">
            <a href="/news/{{ post.route }}">
            <img src="{{ post.meta_image or 'files/card-top.png' }}" alt="" class="card-top">
            <h1>{{ post.blog_category }}</h1>
            <h2>{{ post.title }}</h2>
            <p>
                {{ post.blog_intro[:120] }}
            </p>
            <div class="bottom-card">
                <img src="files/card-photo.svg" alt="" class="card-photo">
                <p class="bottom-card-name">Alex Chumak<br> {{ post.published_on }} · 1 min read</p>
            </div>
            </a>
        </div>
        {% endfor %}
        
    </section>

{% endblock %}