
{% extends "templates/pages/website-base.html" %}

{% block body_class %}about-us{% endblock %}

{% block content %}

    <section class="hero news">
        <div class="hero-content news">
            <h1>NEWS <span>BLOG</span></h1>
            <p>In our blog, we share insights, news, and tips on IT solutions, longevity, and robotics. Stay updated on
                the
                latest trends and discover new opportunities with Slife!</p>
        </div>
    </section>

    <section class="cards-container">

        <div class="card">
            <img src="files/card-top.png" alt="" class="card-top">
            <h1>CRPI</h1>
            <h2>Integration of ERPNext with Prom.ua: Turn Your E-Commerce into an Effective Business Tool </h2>
            <p>
                In a world where e-commerce is redefining traditional business models, the "Prom" module for ERPNext
                plays a
                crucial role. It not only simplifies integration with Prom.ua, but also offers unprecedented pi
            </p>
            <div class="bottom-card">
                <img src="files/card-photo.svg" alt="" class="card-photo">
                <p class="bottom-card-name">Alex Chumak<br> November 24, 2023 · 1 min read</p>
            </div>
        </div>
        <div class="card">
            <img src="files/card-top.png" alt="" class="card-top">
            <h1>CRPI</h1>
            <h2>Integration of ERPNext with Prom.ua: Turn Your E-Commerce into an Effective Business Tool </h2>
            <p>
                In a world where e-commerce is redefining traditional business models, the "Prom" module for ERPNext
                plays a
                crucial role. It not only simplifies integration with Prom.ua, but also offers unprecedented pi
            </p>
            <div class="bottom-card">
                <img src="files/card-photo.svg" alt="" class="card-photo">
                <p class="bottom-card-name">Alex Chumak<br> November 24, 2023 · 1 min read</p>
            </div>
        </div>
        <div class="card">
            <img src="files/card-top.png" alt="" class="card-top">
            <h1>CRPI</h1>
            <h2>Integration of ERPNext with Prom.ua: Turn Your E-Commerce into an Effective Business Tool </h2>
            <p>
                In a world where e-commerce is redefining traditional business models, the "Prom" module for ERPNext
                plays a
                crucial role. It not only simplifies integration with Prom.ua, but also offers unprecedented pi
            </p>
            <div class="bottom-card">
                <img src="files/card-photo.svg" alt="" class="card-photo">
                <p class="bottom-card-name">Alex Chumak<br> November 24, 2023 · 1 min read</p>
            </div>
        </div>
    </section>

{% endblock %}